{# URL: http://server.test/habits/ #}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Habit Tracker <button onclick="window.location.href='{{ options_page_url }}'" title="Options & Management"
            class="settings-icon">⚙️</button></h1>
    <table id="habits-table" border="1">
        <tr>
            <th>Habit / Date</th>
            {% for i in range(10) %}
            <th class="date-header"></th>
            {% endfor %}
        </tr>
        <tr>
            <td></td>
            {% for i in range(10) %}
            <td></td>
            {% endfor %}
        </tr>
    </table>
    <script src="{{ url_for('js_constants') }}"></script>
    <script src="{{ url_for('static', filename='notifications.js') }}"></script>
    <script src="{{ url_for('static', filename='menu.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>